{% extends 'base.html.twig' %}

{% block title %}Quote index{% endblock %}

{% block body %}
    <h1>Quote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_created</th>
                <th>Date_valid</th>
                <th>Status</th>
                <th>Total_ht</th>
                <th>Total_ttc</th>
                <th>Total_tva</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.id }}</td>
                <td>{{ quote.dateCreated ? quote.dateCreated|date('Y-m-d') : '' }}</td>
                <td>{{ quote.dateValid ? quote.dateValid|date('Y-m-d') : '' }}</td>
                <td>{{ quote.status }}</td>
                <td>{{ quote.totalHt }}</td>
                <td>{{ quote.totalTtc }}</td>
                <td>{{ quote.totalTva }}</td>
                <td>
                    <a href="{{ path('app_quote_show', {'id': quote.id}) }}">show</a>
                    <a href="{{ path('app_quote_edit', {'id': quote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quote_new') }}">Create new</a>
{% endblock %}
